# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dan\university-git\Year 3\COMP3204 - Computer Vision\comp3204-cwk\comp3204-cwk1\OpenIMAJ-Tutorial01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
